
:host{
  display:block;
  /*padding:20px;*/
  /*padding:10px;*/
  // padding-left: 20px;
  // padding-right: 25px;
  // padding-top:0px;
  left: 50%;
  top: -50%;
  margin: -20.3rem 0 0 -10rem;

  background-color:white;
  width: 25rem;
  height: 40rem;
  position: absolute;
    box-sizing: border-box;
      box-shadow: 0 3px 7px rgba(0,0,0,.25);

  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  
  -webkit-transition: all .4s ease-in-out
  
  //    top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

}

.wrapper{
    position:absolute;
    left: 20rem;
    

}
.row.mt-3{
  position:absolute;
  left: 5rem;
  width:25rem;
  top:5rem;
}
.close-button{

  margin:1rem;
}


button#close-button.btn.btn-default{
      background-color:grey;
    

}


.btn.btn-close:hover{
  background-color:rgba(222, 226, 230, 0.42);
}


$button-size: 3.5rem;
$close-width: ($button-size / 10);


.close-button {
  display: block;
  width: $button-size;
  height: $button-size;
  position: relative;
  overflow: hidden;
  font-weight: 10rem;
  > div {
    position: relative;
  }
  &-block {
    width: 2rem;
    height: 1.5rem;
    left:0.3rem;
    position: relative;
    overflow: hidden;
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(55% - 0.2rem);
      display: block;
      width: 0.2rem;
      height: 1.6rem;
      transform-origin: bottom center;
      background: gray;
      transition: all ease-out 280ms;
    }
    &:last-of-type {
      transform: rotate(180deg);
    }
  }
  .in {
    .close-button-block {
      &:before {
        transition-delay: 280ms;
        transform: translateX(2rem) translateY(-2rem) rotate(45deg);
      }
      &:after {
        transition-delay: 280ms;
        transform: translateX(-2.2rem) translateY(-2.2rem) rotate(-45deg);
      }
    }
  }
  .out {
    position: absolute;
    top: 0;
    left: 0;
    .close-button-block {
      &:before {
        transform: translateX(-0.5rem) translateY(0.5rem) rotate(45deg);
      }
      &:after {
        transform: translateX(0.5rem) translateY(0.5rem) rotate(-45deg);
      }
    }
  }
  &:hover {
    .in {
      .close-button-block {
        &:before {
          transform: translateX(-0.5rem) translateY(0.5rem) rotate(45deg);
        }
        &:after {
          transform: translateX(0.5rem) translateY(0.5rem) rotate(-45deg);
        }
      }
    }
    .out {
      .close-button-block {
        &:before {
          transform: translateX(-2rem) translateY(2rem) rotate(45deg);
        }
        &:after {
          transform: translateX(2rem) translateY(2rem) rotate(-45deg);
        }
      }
    }
  }
}